@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .btn {
    background: theme('colors.themeButtonPrimaryColor');
    font-family: theme('fontFamily.nunito');
    color: #FFFFFF;
    font-size: 16px;
    padding: 4px 24px;
  }

  .btn:hover {
    background: theme('colors.themePrimaryColor');
  }

  .btn-active {
    background: theme('colors.themePrimaryColor');
    font-family: theme('fontFamily.nunito');
    color: #FFFFFF;
    font-size: 16px;
    padding: 4px 24px;
  }

  .btn-secondary {
    background: theme('colors.themeButtonSecondaryColor');
    font-family: theme('fontFamily.nunito');
    color: #FFFFFF;
    font-size: 16px;
    padding: 4px 24px;
  }
}

@layer utilities {
  .page-wrapper {
    height: calc(100svh - 121px);
    overflow: auto;
    padding-bottom: 24px;
    overflow-x: hidden;
  }
  
  @media screen and (min-width: 1280px) {
    .page-wrapper {
      height: calc(100svh - 110px);
      overflow: auto;
      padding-bottom: 16px;
    }
  }

  .html-tag {
    font-size: 1.3rem;
    line-height: 2rem;
    color: #768390;
    font-family: theme('fontFamily.laBelleAurore');
  }

  .line-contact:before {
    font-size: 18px;
    font-weight: 200;
    position: absolute;
    left: -10px;
    content: counter(line);
    counter-increment: line;
    display: inline-block;
    border:none;
    color: gray;
  }
  @media screen and (max-width: 640px) {
    .line-contact:before {
      left:0
    }
  }
}


* {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
}

:root {
  --primaryColor: #000000;
  --bgColor: rgb(249, 249, 251);
  --leftSideBorder: #219fd5;
  --textEditorColor: #6C8CAD;

}


.theme-light {
  --primaryColor: #201e1e;
  --bgColor: #f0f0f0;
  --leftSideBorder: #d4d3d5;

  --textEditorColor: #424242;
  --textEditorHoverColor: #FFF;
  --textEditorHoverBg: #007cd2;

  --headerBorderColor: #d4d3d5;


  --tabBarBgColor: #e4e5e5;
  --tabBarBorderColor: #d4d3d5;
  --tabBarActiveBorderColor: #007cd2;
  --tabBarActiveTextColor: #FFF;
  --tabBarActiveBgColor: #007cd2;


  --themePrimaryColor: #007cd2;
  --themeButtonPrimaryColor: #0076cb;
  --themeButtonSecondaryColor: #033151c5;
}

.theme-dark {
  --primaryColor: #FFFFFF;
  --bgColor: #333138;
  --leftSideBorder: #474649;

  --textEditorColor: #c4dbf2;
  --textEditorHoverColor: #373634;
  --textEditorHoverBg: #dca503;

  --headerBorderColor: #625c5c;


  --tabBarBgColor: #1f2224;
  --tabBarBorderColor: #474649;
  --tabBarActiveBorderColor: #dca503;
  --tabBarActiveTextColor: #FFFFFF;
  --tabBarActiveBgColor: #c09104;


  --themePrimaryColor: #dca503;
  --themeButtonPrimaryColor: #c09104;
  --themeButtonSecondaryColor: #7b7565;
}

.theme-blue {
  --primaryColor: #FFFFFF;
  --bgColor: #0C2235;
  --leftSideBorder: #143d4f;

  --textEditorColor: #c4dbf2;
  --textEditorHoverColor: #4a83a0;
  --textEditorHoverBg: #0E293F;

  --headerBorderColor: #625c5c;


  --tabBarBgColor: #020E1B;
  --tabBarBorderColor: #625c5c;
  --tabBarActiveBorderColor: #369FD5;
  --tabBarActiveTextColor: #FFFFFF;
  --tabBarActiveBgColor: #153855;

  --themePrimaryColor: #369FD5;
  --themeButtonPrimaryColor: #1e648a;
  --themeButtonSecondaryColor: #3a3c41;
}
